/* body {
    background-image: url('images/52al08o97dm21.jpg');

    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2em;
} */
.header {
    font-family: 'PT Sans', sans-serif;
    font-weight: 1000;
    font-size: xx-large;
    color: #00c9e8;
    outline-color: #002727;
    padding-top: 0.5em;
    text-align: center;
}

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    position: absolute;
    width: 100%;
}

flexbox-container-mainsection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    position: absolute;
    width: 100%;

}

.main-section {
    padding-top: 30px;
    display: block;
}

.website-input {
    padding-left: 2em;
    padding-top: 4em;
    padding-right: 2em;
    flex-flow: wrap;
    flex-shrink: inherit;
    flex: 1 1 auto;
    align-content: center;
    align-self: center;
    flex-grow: 1;
    display: flex;

}

.input-form {
    flex-flow: wrap;
    flex-shrink: inherit;
    flex: 1 1 auto;
    align-content: center;
    align-self: center;
    display: flex;
    justify-content: center;
}

#txtUrlName {
    flex-flow: wrap;
    flex-shrink: inherit;
    align-content: center;
    align-self: center;
    min-width: 1rem;
    margin-left: 2em;
    margin-right: 2em;

}

#txtWebsiteName {
    flex-flow: wrap;
    flex-shrink: inherit;
    align-content: center;
    align-self: center;
    min-width: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;

}

#btnAddUrl {
    flex-flow: wrap;
    align-content: center;
    align-self: center;
    margin-left: 2rem;
    margin-right: 2rem;
}


.shadow40 {
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
    color: #00c9e8;
}

.site-card {
    display: inline-block;
    text-align: center;
    align-content: center;
    align-self: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-color: #002727;
    border: 1px solid cyan;
    outline: 1px rgb(15, 95, 119);
    background-color: '#ffffff00';
    background-size: cover;
    border-radius: 10px;
    margin: 10px 10px;
    flex-flow: wrap;
    flex-shrink: inherit;
    flex: 1 1 auto;
    align-content: center;
    padding: 5px 5px;
    background-color: '#ffffff00';
}


.site-card-href {
    background-color: transparent;
    color: #00c9e8;
    font-family: 'PT Sans', sans-serif;
}

.site-card-href:hover {
    color: white;
}


.main-body {
    background-color: rgb(24, 26, 27);
    width: 100%;

}